*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.p5Canvas{
    position:fixed; 
    left:0px; 
    top:0px;
    opacity: 0.1;
    pointer-events: none;
    z-index: -10;
}
.conteneur{
    display: grid;
    grid-template: 
    "header"
    "content"
    "footer";
    &>.boite{
        
    }
    margin: {
        left: 15vw;
        right: 15vw;
    }
}
.header{
    display: flex;
    grid-area: "header";
    justify-content: center;
    opacity: 1;
    flex: 1 1 100%;
    font-size: 33px;
}
.content{
    flex: grid;
    grid-template: "";
    grid-area: "content";
    &>.boiteContent{
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        color: black;
        opacity: 1;
        min-height: 200px;
        width: 100%;
        margin: {
            top: 25px;
            bottom: 25px;
        }

    }
    &>.espace{
        grid-area: "espace";
        height: 300px;
    }
    &>.portrait{
        grid-area: "portrait";
        &>img{
            max-width: 250px;
            max-height: 333px;
            width: 80%;
            height: 80%;
            border-radius: 50%;
        }
        &>p{
            font-size: 22px;
        }
    }
    &>.description{
        grid-area: "description";
        &>h2{
            font-size: 25px;
        }
        &>p{
            padding: {
                top: 15px;
            }
        }
    }
    &>.projets{
        grid-area: "projets";
        &>h2{
            font-size: 25px;
        }
        &>.conteneurProjets{
            display: grid;
            grid-template: auto auto;
            width: 90%;
            margin: {
                top: 15px;
            }
            &>div{
                width: 100%;
                min-height: 150px;
                &:hover{
                    &>p{
                        opacity: 1;
                    }
                    &>img{
                        opacity: 0.3;
                    }
                }
                &>img{
                    opacity: 1;
                    width: 100%;
                    transition: opacity 0.4s;
                }
                &>p{
                    font-size: 22px;
                    opacity: 0;
                    transition: opacity 0.4s;
                }
            }
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    grid-area: "footer";
}
//////////////////////////////////////
/////////////// MEDIAS ///////////////
//////////////////////////////////////
// Mobile
@media (max-width: 768px) {

}
// Ipad
@media (min-width: 769px) and (max-width: 1024px) {
    
}
// Grand Écran
@media (min-width: 1025px) and (max-width: 2075px) {
    
}