*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.p5Canvas{
    position:fixed; 
    left:0px; 
    top:0px;
    opacity: 0.5;
    pointer-events: none;
    z-index: -10;
}
.conteneur{
    display: grid;
    grid-template: 
    "header"
    "content"
    "footer";
    &>.boite{
        
    }
    margin: {
        left: 15vw;
        right: 15vw;
    }
}
.header{
    display: flex;
    grid-area: "header";
    justify-content: center;
    opacity: 1;
    flex: 1 1 100%;
    font-size: 33px;
}
.content{
    flex: grid;
    grid-template: "";
    grid-area: "content";
    &>.boiteContent{
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        color: black;
        opacity: 1;
        min-height: 200px;
        width: 100%;
        margin: {
            top: 25px;
            bottom: 25px;
        }
    }
    &>.espace{
        grid-area: "espace";
        height: 300px;
    }
    &>.portrait{
        grid-area: "portrait";
        &>img{
            max-width: 250px;
            max-height: 333px;
            width: 80%;
            height: 80%;
            border-radius: 50%;
        }
        &>p{
            font-size: 22px;
        }
    }
    &>.description{
        grid-area: "description";
        &>h2{
            font-size: 25px;
        }
        &>p{
            padding: {
                top: 15px;
            }
        }
    }
    &>.projets{
        grid-area: "projets";
        &>h2{
            font-size: 25px;
        }
        &>.conteneurProjets{
            display: grid;
            grid-template: auto auto;
            width: 95%;
            margin: {
                top: 15px;
            }
            &>div{
                opacity: 0;

                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                background-color: black;
                width: 100%;

                &::before{
                    display: block;
                    opacity: 0;
                    position: relative;
                    color: white;
                    z-index: 50;
                    top: 54%;
                    left: 0%;
                    height: 0px;
                    font-size: 15px;
                    transition: opacity 0.4s;
                    content: "Appuyer pour voir";
                }

                &:hover{
                    &>.titre_projet{
                        opacity: 1;
                    }
                    &>img{
                        filter: brightness(33%);
                    }
                    &::before{
                        opacity: 1;
                    }
                    cursor: pointer;
                }
                &>img{
                    position: relative;
                    top: 0px;
                    left: 0px;
                    filter: brightness(100%);
                    width: 100%;
                    transition: filter 0.4s;
                }
                
                &>.titre_projet{
                    padding: {
                        top: 10px;
                        bottom: 10px;
                    }
                    color: white;
                    font-size: 19px;
                    opacity: 1;
                    transition: opacity 0.4s;
                }
                &>.description_projet{
                    position: relative;
                    text-align: center;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 0px;
                    color: white;
                    z-index: 50;
                }
            }
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    grid-area: "footer";
}
//////////////////////////////////////
/////////////// MEDIAS ///////////////
//////////////////////////////////////
// Mobile
@media (max-width: 768px) {
    .conteneur{
        margin: {
            left: 5vw;
            right: 5vw;
        }
    }
}
// Ipad
@media (min-width: 769px) and (max-width: 1024px) {
    
}
// Grand Écran
@media (min-width: 1025px) and (max-width: 2075px) {
    
}