*{
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    display: block;
    z-index: -1;
}
body{
    overflow-x: hidden;
}
canvas{
    position:fixed; 
    left:0px; 
    top:0px;
    opacity: 0.1;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
header{
    display: flex;
    justify-content: center;
    opacity: .8;
    flex: 1 1 100%;
}
header>h1{
    font-size: 63px;
}
content{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-height: 400px;
    width: 100%;
}
content>div{
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: center;
    color: black;
    opacity: 0.7;
    margin: 15px;
    min-height: 300px;
    /*background-color: whitesmoke;*/
}
content>div:nth-child(1){
    background-color: transparent;
}
content>div:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: row;
}
content>div:nth-child(2) div:nth-child(2){
    display: flex;
    margin: 35px;
    margin-top: -5px;
    margin-left: 0;
    font-size: 35px;
}
content>div:nth-child(2) div:nth-child(1) h3{
    font-size: 26px;
}
content>div:nth-child(2) div:nth-child(1) p{
    padding-left: 15px;
}
content>div:nth-child(2) div:nth-child(1){
    margin-top: 114px;
    margin-right: 35px;
    font-size: 13px;
}
content>div:nth-child(3){

}
content>div:nth-child(4){

}

// MEDIAS

// Mobile
@media (max-width: 768px) {
    content>div:nth-child(2){
        flex-direction: column;
    }
}

// Ipad
@media (min-width: 769px) and (max-width: 1024px) {
    
}

// Grand Écran
@media (min-width: 1025px) and (max-width: 2075px) {
    
}