@mixin fonte-texte($couleur){
    color: $couleur;
    font-size: 23px;
    font-family: $fonte__robotoSlab;
    @media (max-width: 768px) {
        font-size: $fonte__size_mobile;
    }
    @media (min-width: 769px) and (max-width: 5075px) {
        font-size: $fonte__size_grand;
    }
}

@mixin element-recouvrant-page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}