@mixin fonte-texte($couleur){
    color: $couleur;
    font-size: 16px;
    font-family: $fonte__robotoSlab;
}

@mixin element-recouvrant-page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}