$couleur__fond: rgb(0, 0, 0);
$couleur__fonte: rgb(0, 0, 0);
$couleur_menu_fond: rgb(56, 24, 173);
$couleur_menu_fonte: white;
$couleur_menu_hover: black;

$fonte__robotoSlab: 'Roboto Slab', serif;
$fonte__Arvo: 'Arvo', serif;
$fonte__size_mobile_header: 33px;
$fonte__size_grand_header: 23px;
$fonte__size_mobile: 19px;
$fonte__size_grand: 23px;
$fonte__size_titre_mobile: 1.5em;
$fonte__size_titre_grand: 2.5em;